PORT=5000
# DATABASE_URL=postgresql://postgres.awcqvwgrwwiiszyjlbxj:**********@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
# EMAIL_FROM=orders@example.com
# EMAIL_TO=you@example.com
# RESEND_API_KEY=re_xxxxxxxxx
